@media all and (min-width: 480px) {
    .login {
      padding: 60px 0;
    }
  
    .login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .column-1 {
    float: left;
    width: 50%;            
  }

  .column-2 {
    float: right;
    width: 50%;
  }