input {
  border-style: solid;
  border-width: 1px;
    padding: 1em;
    display: block;
    width: 50%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    resize: none;
    }

    .btn{
        display: block;
        text-align: center;
        font-weight: bold;
        color:#fff;
        text-decoration: none;
        background-color: #DAA520 ;  
        padding:10px 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 5px solid #429000;
        box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
        margin-left: 50px;
        width: 30%;
      }

      .row{
        display: flex;        
      }

      .clickable-div {
        cursor: pointer;   
      }

      .div-selected {
        cursor: pointer;   
        background-color: rgb(230, 230, 230);
      }

      .clickable-div-2 {
        cursor: pointer;   
        background-color: aquamarine;
      }

      .clickable-div {
        cursor: pointer;   
      }
      
      .column-1 {
        float: left;
        width: 50%;            
      }

      .column-2 {
        float: right;
        width: 50%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }